@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657503231348') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huatong:before {
  content: "\e69c";
}

.icon-yinfu:before {
  content: "\e649";
}

.icon-huli:before {
  content: "\e6a6";
}

.icon-groupsets_:before {
  content: "\e60f";
}

.icon-tuzi:before {
  content: "\e618";
}

.icon-bingqilin:before {
  content: "\e620";
}

.icon-huli1:before {
  content: "\e619";
}

.icon-miao:before {
  content: "\e615";
}

.icon-niuniu:before {
  content: "\e616";
}

.icon-huli2:before {
  content: "\e61a";
}

.icon-tangguo:before {
  content: "\e62d";
}

.icon-tubiao-:before {
  content: "\e608";
}

.icon-wan:before {
  content: "\e61e";
}

.icon-bingqilin1:before {
  content: "\e631";
}

.icon-bingqilin2:before {
  content: "\e602";
}

.icon-gougou:before {
  content: "\e606";
}

.icon-tangguo1:before {
  content: "\e613";
}

.icon-jita-danse:before {
  content: "\e60d";
}

.icon-tu:before {
  content: "\e697";
}

.icon-niu:before {
  content: "\e698";
}

.icon-huli3:before {
  content: "\e694";
}

.icon-tangguo2:before {
  content: "\e604";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-yinxiang-xian:before {
  content: "\e645";
}

.icon-xingxing1:before {
  content: "\e75b";
}

.icon-xingxing2:before {
  content: "\e7c3";
}

.icon-toukui-qishi:before {
  content: "\e6a7";
}

.icon-mutou:before {
  content: "\e7bb";
}

.icon-yumaoqiu:before {
  content: "\e621";
}

.icon-xingxing3:before {
  content: "\e625";
}

.icon-xiaogoushou:before {
  content: "\e655";
}

.icon-yumaoqiu1:before {
  content: "\e665";
}

